fastapi
uvicorn[standard]
python-multipart
dnspython
mysql-connector-python
pandas
tldextract
pycountry
numpy
requests
beautifulsoup4
selenium
undetected-chromedriver
mysqlx
python-dotenv
nltk
spacy
locationtagger
geopy
lxml_html_clean
phonenumbers
opencv-python
langdetect